<div class='home'>
  <div id='head'>
    <h1 id="title">Welcome to your Task Manager</h1>
  </div>

  <div id='description'>

    <p>A task manager is a system monitor program used to provide information about the processes and applications
      running on a computer, as well as the general status of the computer. Some implementations can also be used to
      terminate processes and applications, as well as change the processes' scheduling priority.</p>
  </div>
  <div class="learn">
    <a class='btn' target='_blank' href='https://en.wikipedia.org/wiki/Task_manager'>Learn More</a>
  </div>

</div>