<div class='home'>
  <div id='head'>
    <h1 id="title">Welcome to your Event Manager</h1>
  </div>

  <div id='description'>

    <p>Event management is the application of project management to the creation and development of small and/or
      large-scale personal or corporate events such as festivals, conferences, ceremonies, weddings, formal parties,
      concerts, or conventions. It involves studying the brand, identifying its target audience, devising the event
      concept, and coordinating the technical aspects before actually launching the even.</p>
  </div>
  <div class="learn">
    <a class='btn' target='_blank' href='https://en.wikipedia.org/wiki/Event_manager'>Learn More</a>
  </div>

</div>